*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(0, 0, 0, 0.842);
    color: rgb(255, 255, 255);
    font-family: "Nunito";
    display: flex;
    justify-content: center;
    align-items: center;
}

.nunito-nunito {
    font-family: "Nunito";
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  h1{
    font-size: 52px;
    font-weight: 800;
  }

  h2{
    font-size: 32px;
    font-weight: 400;
  }

  h4{
    font-size: 20px;
    font-weight: 700;
  }

  h6{
    font-size: 15px;
    font-weight: 400;
  }


.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding: 20px;
    border-radius: 20px;
    max-width: 400px;
    min-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 5px 20px 5px;
    
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 90%;
    padding: 18px 10px 15px 18px;
    margin:  10px 10px 10px 10px;
    border-radius: 50px;
    border: none;
    font-family: "Nunito";
    font-size: 15px;
    font-weight: 600;
    outline: none;
}


button{
    background-color: white;
    border: none;
    border-radius: 100%;
    padding: 17px 17px 13px 16px;
    margin: 15px 10px 15px 30px;
}

.space{
    margin: 15px;
}

#grad {
    background-image: linear-gradient(165deg, rgb(12, 228, 160), rgb(20, 206, 178), rgb(30, 154, 176), rgb(38, 9, 80));
    margin: 5px;
  }

  .hide{
    display: none;
  }
