  /* theme color: #fa6400 */

*{
    margin: 0;
    padding: 0;
}

.nunito-nunito {
    font-family: "Nunito";
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  body{
    font-family: "Poppins", "Nunito";
    background-color: rgba(0, 0, 0, 0.877);
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .container{
    background-color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    max-width: 500px;
    min-width: 300px;
  }

  .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .maininput{
    height: 25px;
    width: 80%;
    height: 50px;
    border-radius: 50px;
    border: none;
    padding: 0px 10px 0px 10px;
    font-size: 17px;
    background-color: rgb(191, 191, 191);
    color: white;
  }

  textarea:focus, input:focus{
    outline: none;
}

  .btn{
    background-color: #fa6400;
    border-radius: 50px;
    width: 100px;
    border: none;
    color: white;
    height: 50px;
    font-family: "Poppins", "Nunito";
    font-size: 17px;
    font-weight: 700;
  }

  .btn-2{
    background-color: transparent;
    border: none;
    width: 10%;
  }

  .splash{
    background-color: rgb(191, 191, 191);
    border-radius: 50px;
    height: 50px;
  }

/*   .card{
    background-color: #ffb98a;
    margin-top: 15px;
    border-radius: 15px ;
    min-height: 30px;
    padding: 10px;
  } */

  ul li{
    list-style: none;
    font-size: 17px;
    padding: 17px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
  }

  ul li:before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border: 50%;
    background-image: url(img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 15px;
    left: 8px;
  }

  ul li.checked{
    color: #555;
    text-decoration: line-through;
  }

  ul li.checked::before{
    background-image: url(img/checked.png);
  }

  ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
  }

  ul li span:hover{
    background: #fa6400;
  }
  
  .content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center
  }

  .space{
    padding: 5px;
    margin: 5px;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    box-shadow: 0 0 0px 1000px transparent inset !important;
    background-color: transparent !important;
    color: black !important;
  }



